<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Post Graduation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <strong>Institute:</strong>
      <p>B.N. Bahadur Institute Of Management Sciences</p>
      <strong>Year:</strong>
      <p>2018</p>
      <strong>Score:</strong>
      <p>62%</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Under Graduation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <strong>Institute:</strong>
      <p>Vidhya Ashram First Grade College</p>
      <strong>Year:</strong>
      <p>2016</p>
      <strong>Score:</strong>
      <p>76%</p>
    </mat-card-content>
  </mat-card>
  