<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Formal Info">
    <mat-card class="mat-elevation-z8">
      <p><strong>Name:</strong> Chiranjeevi</p>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <p><strong>Gender:</strong> Male</p>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <p><strong>DOB:</strong> 12-10-1993</p>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <p><strong>Marital status:</strong> Single</p>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <p><strong>Father's Name:</strong> Rajendra K</p>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <p><strong>Mother's Name:</strong> Rajeshwari R</p>
    </mat-card>
    <mat-card class="mat-elevation-z8">
      <p><strong>Residing Place:</strong> Mysore</p>
    </mat-card>
    <mat-card class="mat-elevation-z4">
      <p><strong>Nationality:</strong> Indian</p>
    </mat-card>
  </mat-tab>

  <mat-tab label="Informal Info">
      <div>
        <strong>Hobbies</strong>
      <ul>
      <li>Playing video games</li>
      <li>Travelling</li>
      <li>Learning new things</li>
      </ul>
   <hr>
    
      <strong>etc</strong>
      <ul>
        <li>etc</li>
        <li>etc</li>
        <li>etc</li>
        <li>etc</li>
        <li>etc</li>
      </ul>
      </div>
  </mat-tab>
</mat-tab-group>