<mat-card>
    <p style="font-size: large;">I would love to talk to you about any new projects you may have or
        any of the services that I offer
    </p>
</mat-card>

<p style="text-align: center; font-size: large;">You are one click away from connecting with a great developer</p>

<hr>


<mat-toolbar>
    <p>Call</p>
    <div style="flex-grow: 1;"></div>
    <a href="tel: +917899782057" class="ui-link">
        <img src="assets/logo1.png" alt="">
    </a>
</mat-toolbar>

<hr>

<mat-toolbar>
    <p>Instagram</p>
    <div style="flex-grow: 1;"></div>
        <a href="instagram://user?username=hcr2g">
        <img src="assets/logo3.jpg" alt="">
    </a>
</mat-toolbar>


<hr>

<mat-toolbar>
    <p>WhatsApp me</p>
    <div style="flex-grow: 1;"></div>
    <a href="https://api.whatsapp.com/send?phone=+917899782057">
        <img src="assets/logo4.jpg" alt="">
    </a>
</mat-toolbar>

<hr>

<mat-toolbar>
    <p>Mail</p>
    <div style="flex-grow: 1;"></div>
    <a href="mailto:crjirja@gmail.com">
        <img src="assets/logo2.png" alt="">
    </a>
</mat-toolbar>

<hr>
