<mat-card>
    <p style="font-size: large;">I would love to talk to you about any new projects you may have or
        any of the services that I offer
    </p>

<p style="text-align: center; font-size: large;">You are one click away from connecting with a great developer</p>

</mat-card>

<div style="text-align: center; margin-top: 42px;"><strong style="font-size: 22px;">Contact me via</strong></div>
<hr style="margin-top: 0px;">
<mat-toolbar>
    <strong>Call</strong>
    <div style="flex-grow: 1;"></div>
    <a href="tel: +917899782057" class="ui-link">
        <img src="assets/logo1.png" alt="">
    </a>
</mat-toolbar>

<hr>

<mat-toolbar>
    <strong>Instagram</strong>
    <div style="flex-grow: 1;"></div>
        <a href="instagram://user?username=hcr2g">
        <img src="assets/logo3.jpg" alt="">
    </a>
</mat-toolbar>


<hr>

<mat-toolbar>
    <strong>WhatsApp</strong>
    <div style="flex-grow: 1;"></div>
    <a href="https://api.whatsapp.com/send?phone=+917899782057">
        <img src="assets/logo4.jpg" alt="">
    </a>
</mat-toolbar>

<hr>

<mat-toolbar>
    <strong>Mail</strong>
    <div style="flex-grow: 1;"></div>
    <a href="mailto:crjirja@gmail.com">
        <img src="assets/logo2.png" alt="">
    </a>
</mat-toolbar>

<hr>
