<mat-list style="background-color: whitesmoke;">
    <mat-list-item>Skill sets</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Skill sets</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Skill sets</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Skill sets</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Skill sets</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Skill sets</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Skill sets</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Skill sets</mat-list-item>
  </mat-list>
  