<mat-toolbar class="odd">
  <strong>Angular</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech1.png" alt="">
</mat-toolbar>
<div class="odd">
    <mat-card>Resuseabale components and modules</mat-card>
    <mat-card>REST/Web api to create the services</mat-card>
    <mat-card>Search functionality for internal application</mat-card>
    <mat-card>performance tuning the application for quick loading</mat-card>
    <mat-card>Working knowledge of front end optimization and performance techniques</mat-card>
    <mat-card>Unit tests, particularly Karma & Jasmine</mat-card>
    <mat-card>Proficient in industry standard best practices such as Design Patters, Coding Standards, Coding modularity, Prototypes etc</mat-card>
    <mat-card>Experience with Karma, Jasmine, Grunt, etc</mat-card>
</div>
  
<mat-toolbar class="even">
  <strong>TypeScrtipt</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech2.png" alt="">
</mat-toolbar>
<div class="even">
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
</div>
  
<mat-toolbar class="odd">
  <strong>HTML</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech3.png" alt="">
</mat-toolbar>
<div class="odd">
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
</div>
  
<mat-toolbar class="even">
  <strong>CSS & SASS</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech4.1.png" alt="">
    <img src="assets/tech4.2.png" alt="">
</mat-toolbar>
<div class="even">
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
</div>

<mat-toolbar class="odd">
  <strong>JavaScript</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech5.png" alt="">
</mat-toolbar>
<div class="odd">
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
</div>

<mat-toolbar class="even">
  <strong>NPM</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech6.png" alt="">
</mat-toolbar>
<div class="even">
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
</div>

<mat-toolbar class="odd">
  <strong>GitHub</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech7.png" alt="">
</mat-toolbar>
<div class="odd">
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
</div>

<mat-toolbar class="even">
  <strong>Bootstrap</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech8.png" alt="">
</mat-toolbar>
<div class="even">
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
</div>

<mat-toolbar class="odd">
  <strong>Jira</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech9.png" alt="">
</mat-toolbar>
<div class="odd">
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
</div>

<mat-toolbar class="even">
  <strong>Visual Studio Code</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech10.png" alt="">
</mat-toolbar>
<div class="even">
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
</div>

<mat-toolbar class="odd">
  <strong>API</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech11.png" alt="">
</mat-toolbar>
<div class="odd">
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
    <mat-card>skills will come here</mat-card>
</div>

<mat-toolbar class="even">
  <strong>RXJS</strong>
    <div style="flex-grow: 1;"></div>
    <img src="assets/tech12.svg" alt="">
</mat-toolbar>
<div class="even">
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
    <mat-card class="even">skills will come here</mat-card>
</div>
