.mat-tab-group {
    margin-bottom: 48px;
  }

  /* .groupTab {
      background-color: rgb(122, 239, 255);
  }
   */
  .mat-tab-label {
      color: rgb(255, 255, 255);
  }

  .mat-tab-label.mat-tab-label-active {
      color: rgb(68, 108, 238);
  }

  /* ::ng-deep .mat-tab-group.matprimary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      background-color: rgb(21, 240, 1);
  } */